/*
Palette de couleurs:

clair: #fde4f6
moins clair: #a799fb
medium: #615bab
plus foncé:#2a294f
noir perso: #140f07
jaune sympa: #efcb6c
autre jaune plus clair : #e9df96
bleu moyennement foncé cool: #096ca3
bleu plus clair: #07b5ff
couleur plutot sombre mais sympa, taupe: #887674
couleur plutot saumon: #ff6f75
vert foncé cool: #124c37

D'autres palettes que j'aime bien: https://mybrandnewlogo.com/fr/generateur-de-palette-de-couleurs
*/
@font-face {
  font-family: 'CustomFont';
  src: local('font/nixie_one/NixieOne.ttf');
}

body {
  background-color: #fde4f6;
  font-family: 'CustomFont';
}


h1 {
  text-align: center;
  color: #615bab;
}

.MainButtons {
  align-items: center;
  background-color: #07b5ff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.MainButtons:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.MainButtons:hover:after {
  transform: translate(0, 0);
}

.MainButtons:active {
  background-color: #096ca3;
  outline: 0;
}



form before {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
}
form after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

form h1 {
  text-align: center;
  margin: 0 0 0.25rem 0;
  padding: 0;
  font-size: 1.5rem;
}
form small {
  display: block;
  margin: 0 auto 1rem;
  padding: 0;
  font-size: 14px;
}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

.field label,
input {
  transition: all 0.3s ease;
  touch-action: manipulation;
}
.field label {
  opacity: 0;
}
.field input {
  padding: 10px 20px;
  border: 4px solid #615bab;
  margin: 0 1.5rem;
  background-color: transparent !important;
  -webkit-appearance: none;
  color: #f06396;
}

.field button {
  border: none;
  padding: 0.85rem 1rem;
  margin-top: 2rem;
  background-color: #0e39fe;
  color: #615bab;
  font-size: 0.75rem;
  text-transform: uppercase;
  width: 65%;
  position: absolute;
  bottom: -20px;
  right: 18%;
  letter-spacing: 0.15em;
  transition: all 0.3s ease;
}
.field :hover {
  border: 6px solid #090c9b;
}
.field p {
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin: 0.5rem 1.5rem 1.75rem 1.5rem;
}

